
body {
    color: #000; 
}

.card-title, .card-text, .modal-body {
    color: #333;
}

.btn-primary, .btn-warning {
    background-color: #007bff; 
    border: none;
    color: white;
}

.btn-primary:hover, .btn-warning:hover {
    background-color: #0056b3;
}

#player-section {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 8px;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
}
#group-section {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    max-height: 100px; 
    position: fixed;
    top: 50px; 
    right: 20px; 
    width: 250px; 
}

.short-section {
    max-height: 300px; 
    overflow-y: auto;  
}
.list-group-item {
    background-color: #f1f1f1;
    color: #000;
}

.modal-content {
    background-color: #fefefe; 
}

.modal-body {
    color: #444; 
}
