
body {
    color: black; 
}

.card-title, .card-text, .modal-body {
    color: black;
}

.btn-primary, .btn-warning {
    background-color: rgb(87, 87, 255); 
    border: none;
    color: white;
}

.btn-primary:hover, .btn-warning:hover {
    background-color: blue;
}

#player-section {
    background-color: white; 
    padding: 20px;
    border-radius: 8px;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
}
#group-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    max-height: 100px; 
    position: fixed;
    top: 50px; 
    right: 20px; 
    width: 250px; 
}

.short-section {
    max-height: 300px; 
    overflow-y: auto;  
}
.list-group-item {
    background-color: white;
    color: #000;
}

.modal-content {
    background-color: whitesmoke; 
}

.modal-body {
    color: rgb(48, 42, 42); 
}
